input::placeholder,
textarea::placeholder {
  color: var(--color-crema-claro) !important;
}

input,
textarea {
  background: var(--color-crema-claro) !important;
  border: none !important;
  border-bottom: 2px solid var(--color-borde-metal) !important;
  color: var(--color-texto-primario) !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid var(--color-metal) !important;
  background-color: var(--color-rojo-claro) !important;
}

.texto-input {
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: -6px;
  margin-bottom: 10px;
  min-height: 18px;
  color: transparent;
  transition: color 0.3s ease;
}

.texto-input.visible {
  color: #e68a8a;
}

.error-msg {
  background: var(--color-fondo-card);
  color: var(--color-dorado-claro);
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 0.85rem;
  margin-top: 6px;
  margin-bottom: 14px;
  width: 100%;
  border-left: 3px solid var(--color-borde-dorado);
}

@media (max-width: 768px) {
  .map-container-custom {
    width: 95%;
    height: 300px;
  }

  .titulo-glow {
    font-size: 28px;
  }

  .titulo-glow2 {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-crema);
}

::-webkit-scrollbar-thumb {
  background: var(--color-metal);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dorado-claro);